footer {
    position:relative;
    bottom: 0;
    left: 0;
    width: 100%;
  
}
.nav a{
    font-size: 16px;
}

.logo-div {
    font-size: 60px!important;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, #ffffff, #333333);
    /* Cores do gradiente (vermelho para azul) */
   /* ... outros estilos ... */
   background-image: linear-gradient(to bottom, #ffffff, #333333);
   color: transparent;

   /* Para navegadores WebKit (Safari, Chrome) */
   -webkit-background-clip: text;

   /* Para navegadores Firefox */
   background-clip: text;
    color: transparent;
    /* Torna o texto transparente para que o gradiente apareça através dele */
    display: inline-block;
    /* Para que o gradiente não se espalhe horizontalmente */
    padding: 20px;


}
#logperfildiv{
    background-color: #636363;
}
#link-header{
    transition: opacity 0.5s ease;
}
#link-header:hover{
    opacity: 50%;
    
}
#perfil2-h1{
    border-width: 1px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #333333;
    border-style: solid;
    border-color: #1F9D00;
    color: #1F9D00;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-size: 16px;
    width: 200px;
    height: 35px;
}
#perfil-h1{
    border-width: 1px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #333333;
    border-style: solid;
    border-color: #3a3a3a;
    color: white;
    background-color: #636363;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    width: 200px;
    height: 35px;
}
#perfil-h1:hover{
    border-color: #35ff03;
    background-color: #1F9D00;
    color: white;
}
footer a{
    font-weight: bold;
}
@media (max-width: 768px) {
header a{ 
    display: none;
}
#perfil-div{
    padding: 0px!important;
}

}