{% extends 'base.html' %}
{% load static %}

{% block title %}
SUAP - Sistema administrativo da Internet das Coisas
{% endblock %}

{% block link %}



{% endblock %}

{% block main %}




{% if user.is_authenticated %}
<div class="container">
    <div class="container mt-5 mb-3">
        <h2 class="text-center mb-4">Perguntas frequentes</h2>
    
        <div class="accordion" id="faqAccordion">
          <!-- Pergunta 1 -->
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Quais são as instruções para adicionar um dispositivo? 
                </button>
              </h2>
            </div>
    
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#faqAccordion">
              <div class="card-body">
                Para a adição de um dispositivo no sistema é necessário, quando o sistema web estiver conectado ao broker <strong style="color: red;"> 'www.maqiatto.com'</strong>,
                o dispositivo deve enviar um JSON padronizado para realizar o registro no BANCO DE DADOS.
                <p>

                Exemplo do padrão JSON:
                  <p style="color: green;">{<strong>
                
                  "funcao" : "Porta",
                  "mac":"00:11:22:33:44:55",
                  "status":"aberta"
                  
                </strong>}
                </p>
                </p>
              </div>
            </div>
          </div>
    
          <!-- Pergunta 2 -->
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  O que fazer após a ocorrência de um erro na funcionalidade?
                </button>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqAccordion">
              <div class="card-body">
                Verifique o código do erro.

                <p>Veja nessa lista um conjunto de erros possíveis:</p>
                <ul>
                  <li>conflited_mac - Endereço MAC inválido.</li>
                  <li>time_over - O tempo limite de conexão cessou.</li>
                  <li>JSON_invalid - A mensagem JSON recebida está incompleta.</li>
                  <li>Broken_msg - A mensagem recebida não está em JSON.</li>
                  <li>conflited_json - JSON conflituoso, cheque o 'status'.</li>

                </ul>
              </div>
            </div>
          </div>
    
          <!-- Adicione mais perguntas conforme necessário -->
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Quais são os dispositivos atrelados ao sistema?                </button>
              </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#faqAccordion">
              <div class="card-body">
                Na atualidade, o sistema só suporta microcontroladoras com acesso a redes wifi e que são programáveis. Como por exemplo: O Arduino e ESP32. 
              </div>
            </div>
          </div>
        </div>
    
      </div>
    
</div>
{% else %}
<div class="d-flex justify-content-center align-items-center" style="height: 290px;">
    <p>
        <strong>Para acessar o sistema, é necessário estar logado em um perfil de servidor.</strong>
    </p>
</div>
{% endif %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</script>
<script src="{% static 'js/error_device.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

{% endblock %}