{% extends 'base.html' %}
{% load static %}

{% block title %}
SUAP - Sistema administrativo da Internet das Coisas
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">


{% endblock %}

{% block main %}

{% if user.is_authenticated %}

<div class="container mt-5 d-flex align-items-center ">
    <form id="filter-form" method="get">
        <div class="row ps-auto">
            <div class="col-md-auto mb-2">
                <label for="status-filter">Status:</label>
                <select id="status_filter" name="status_filter" class="form-control">
                    <option value="">Selecione uma opção</option>
                    <option value="aberta">Aberta</option>
                    <option value="fechada">Fechada</option>
                </select>
            </div>
            <div class="col-md-auto mb-2">
                <label for="port-filter">Função:</label>
                <input type="text" id="room-filter" name="room_filter" class="form-control">
                </select>
            </div>
            <div class="col-md-auto mb-2">
                <label for="ip-filter">Buscar por endereço MAC:</label>
                <input type="text" id="ip-filter" name="ip_filter" class="form-control">
            </div>
            <div class="col-md-auto mb-2">
                <label for="room-filter">Nome da Sala:</label>
                <input type="text" id="room-filter" name="room_filter" class="form-control">
            </div>
            <div class="col-md-auto d-flex align-items-center justify-content-center pt-2 ">
                <button id="btn-filter" type="submit"
                    class="btn btn-primary  d-flex align-items-center justify-content-center mt-2 ">Filtrar</button>
            </div>
            <div  class=" w-auto col-md-8 d-flex align-items-center justify-content-end">
                <a id="btn-add" href="{% url 'search_d'%}" type="submit"
                    class="btn btn-primary d-flex align-items-center justify-content-center w-100 mt-3 "> <Strong>+
                        Adicionar Dispositivo</Strong></a>
            </div>
        </div>
    </form>
</div>

<div class="container ">
    <div  class="row owl-carousel owl-theme mt-5">
        {% for device in devices %}
        <form class="col">
            <div class="card-header cabeçalho w-auto">
                PORTA {{ device.number_door }} <Strong> ({{ device.name }})</Strong>
            </div>
            <div class="card mb-3">
                
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div class="ip"><b>MAC:</b></div>
                        <div class="ip-endereço"><b>{{ device.mac }}</b></div>
                    </div>
                    <div class="funcao-div">
                        <div class="d-flex justify-content-between">
                            <div class="funcao"><b>Função:</b></div>
                            <div class="porta"><b style="text-decoration: underline; ">{{device.device}}</b></div>
                        </div>
                    </div>
                    <div class="status-div">
                        <div class="d-flex justify-content-between">
                            <div class="funcao"><b>Status:</b></div>
                            {% if device.status == 'aberta'%}
                            <div class="porta"><p style="color: rgb(0, 255, 72);" >Aberta</p></div>
                            {% elif device.status == 'fechada'%}
                            <div class="porta"><p style="color: rgb(255, 0, 0);" >Fechada</p></div>
                            {%endif%}
                        </div>
                        <div id="divItem{{device.id}}" style="background-color: red; color: white; border-radius: 5px;" class="escondido">
                            Error: <p id="conflited_json_div_{{device.id}}" class="escondido">conflited_json</p>
                            <p id="JSON_invalid_div_{{device.id}}" class="escondido">JSON_invalid</p>
                            <p id="Broken_msg_div_{{device.id}}" class="escondido">Broken_msg</p>
                            <p id="time_over_div_{{device.id}}" class="escondido">time_over</p>
                            <p id="conflited_mac_div_{{device.id}}" class="escondido">conflited_mac</p>
                            <a href="">Acesse essa página para suporte.</a>
                        </div>
                        
                    </div>
                </div>
                <ul class="nav nav-pills card-footer justify-content-between">
                    <li class="nav-item">
                        {% if device.status == 'fechada' %}
                        <a data-item-id="{{ device.id }}" id="meu-botao" class="btn btn-success btn-sm btn-abrir" type="button" data-toggle="tooltip" data-placement="top" title="Abrir">
                            <i class="fa fa-edit"></i> Abrir Porta
                        </a>
                        {% elif device.status == 'aberta' %}
                            <a data-item-id="{{ device.id }}" id="meu-botao2" class="btn btn-danger btn-sm btn-deletar" type="button" data-toggle="tooltip" data-placement="top" title="Fechar">
                                <i class="fa fa-trash"></i> Fechar Porta
                            </a>
                            {%endif%}
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary btn-sm btn-editar" href="{% url 'edit_door' device.id %}" type="button" data-toggle="tooltip" data-placement="top" title="Editar">
                            <i class="fa fa-table"></i> Editar
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-danger btn-sm btn-deletar" href="{% url 'deletar_device' device.id %}" >
                            <i class="fa fa-trash"></i> Deletar
                        </a>
                    
                    </li>
                </ul>
            </div>
        </form>
        
      {% endfor %}

    </div>
</div>


{% else %}
<div class="d-flex justify-content-center align-items-center" style="height: 290px;">
    <p>
        <strong>Para acessar o sistema, é necessário estar logado em um perfil de servidor.</strong>
    </p>
</div>
{% endif %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</script>
<script src="{% static 'js/error_device.js' %}"></script>
{% endblock %}