{% extends 'base.html' %}
{% load static %}

{% block title %}
SUAP - Sistema administrativo da Internet das Coisas
{% endblock %}

{% block link %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="{% static 'js/search_btn.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock %}


{% block main %}
<div class="container mt-3">
    <div class="row">
        <div class="col-md-4 d-flex justify-content-center align-items-center">
            <div>
                <h4 class="mb-4">Informações necessárias para conectar um Dispositivo:</h4>
                <ul class="list-unstyled">
                    <li><strong class="text-danger">BROKER</strong> = 'www.maqiatto.com'</li>
                    <li><strong class="text-danger">PORT</strong> = 1883</li>
                    <li><strong class="text-danger">TOPIC</strong> = "nicholas.o@escolar.ifrn.edu.br/T1"</li>
                    <li><strong class="text-danger">TOKEN</strong> = "Conexão confirmada"</li>
                </ul>
            </div>
        </div>

        <div class="col-md-8">

            <div class="card" style="margin-top: 20px; margin-bottom: 20px;">
                <div class="card-body rounded" style="background-color: #d9d9d9; box-shadow: 1px 1px 3px #000000;">
                    <div class="d-flex justify-content-center">
                        <h2 class="card-title fw-bold">Localizar Dispositivos</h2>
                    </div>
                    <div>
                        <p><STRong class="text-warning" style="text-shadow: 1px 1px 3px black;">ATENÇÃO </STRong>: é
                            necessário que o Dispositivo esteja inscrito no mesmo 'topic' para cadastrar no sistema.
                            Além de retornar o TOKEN para confirmar o processo.</p>
                        <hr>

                        <div>




                            <div class="m-5 d-flex justify-content-center">
                                <button id="button_search">
                                    Localizar um dispositivo
                                </button>
                            </div>
                            <label style="display: none;" id="loading" for="">Procurando dispositivo...</label>
                            <div class="d-flex justify-content-center ">
                                <div style="display: none;" id="founded_device">
                                    <h4>Dispositivo Encontrado</h4>

                                    <h5 class="d-flex flex-row "><Strong style="margin-right: 10px;">IP:</Strong>
                                        <p style="color: rgb(47, 94, 0);">"LOCALHOST"</p>
                                    </h5>
                                    <h5> <Strong>Função do dispositivo:</Strong>
                                        <p style="color: red;">Porta</p>
                                    </h5>

                                </div>

                            </div>
                            <div id="founded_device2">
                                <div class="d-flex justify-content-around">
                                    <a type="submit" id="save_button">Salvar dispositivo</a>
                                    <a type="submit" id="cancel_button">Cancelar dispositivo</a>
                                </div>
                            </div>
                            <div id="notfounded_device" style="display: none;">
                                <h4 style="text-align: center;">Dispositivo <p style="color: red;">NÃO CONFIGURADO
                                    </p>
                                </h4>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{%endblock%}