{% extends 'base.html' %}
{% load static %}

{% block title %}
SUAP - Sistema administrativo da Internet das Coisas
{% endblock %}

{% block link %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="{% static 'js/search_btn.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock %}


{% block main %}
<div class="container mt-3">
    <div class="row">
        <div class="col-md-4 d-flex justify-content-center align-items-center">
            <div>
                <h4 class="mb-4">Informações necessárias para conectar um Dispositivo:</h4>
                <ul class="list-unstyled">
                    <li><strong class="text-danger">BROKER</strong> = 'www.maqiatto.com'</li>
                    <li><strong class="text-danger">PORT</strong> = 1883</li>
                    <li><strong class="text-danger">TOPIC</strong> = "nicholas.o@escolar.ifrn.edu.br/T1"</li>
                    <li><strong class="text-danger">TOKEN</strong> = "Conexão confirmada"</li>
                </ul>
            </div>
        </div>

        <div class="col-md-8">

            <div class="card" style="margin-top: 20px; margin-bottom: 20px;">
                <div class="card-body rounded" style="background-color: #d9d9d9; box-shadow: 1px 1px 3px #000000;">
                    <div class="d-flex justify-content-center">
                        <h2 class="card-title fw-bold">Localizar Dispositivos</h2>
                    </div>
                    <div>
                        <p><STRong class="text-warning" style="text-shadow: 1px 1px 3px black;">ATENÇÃO </STRong>: é
                            necessário que o Dispositivo esteja inscrito no mesmo 'topic' para cadastrar no sistema.
                            Além de retornar o TOKEN para confirmar o processo.</p>
                        <hr>

                        <div class="d-flex  flex-column align-items-center">
                            <div class="m-5">
                                <button href="" id="button_search">
                                    Localizar um dispositivo
                                </button>
                            </div>
                            <label style="display: none;" id="loading" for="">Procurando dispositivo...</label>
                            <form action="{% url 'search_d'%}" method="post" id="founded_device" style="display: none;">
                                <h4>Dispositivo Encontrado</h4>
                                <h5 class="d-flex flex-row "><Strong style="margin-right: 10px;">IP:</Strong>
                                    <p style="color: rgb(47, 94, 0);">"LOCALHOST"</p>
                                </h5>
                                <h5> <Strong>Função do dispositivo:</Strong>
                                    <p style="color: red;">Porta</p>
                                </h5>
                                
                                    {% csrf_token %}
                                    <div class="d-flex justify-content-start m-4">


                                        <input type="text" id="Nome_device" name="Nome_device" placeholder="Digite o Nome:">


                                        <input type="text" id="Number_device" name="Number_device" placeholder="Digite o Número da porta:">

                                    </div>
                                    <div class="d-flex justify-content-around mt-3">
                                        <button type="submit" id="save_button">Salvar dispositivo</button>
                                        <button type="submit" id="cancel_button">Cancelar dispositivo</button>
                                        <script>
                                            $(document).ready(function() {
                                                $('#botao-ajax').click(function() {
                                                    // Valor de exemplo (substitua por um valor real)
                                                    var nome = 'Exemplo';
                                        
                                                    // Envia uma solicitação AJAX para a view Django
                                                    $.ajax({
                                                        type: 'POST',
                                                        url: '{% url "ajax_exemplo" %}',  // Substitua 'ajax_exemplo' pelo nome real da sua view
                                                        data: {
                                                            'nome': nome,
                                                            'csrfmiddlewaretoken': '{{ csrf_token }}',
                                                        },
                                                        success: function(response) {
                                                            console.log(response.mensagem);
                                                            // Faça algo com a resposta, se necessário
                                                        },
                                                        error: function(error) {
                                                            console.error('Erro na solicitação AJAX:', error);
                                                        }
                                                    });
                                                });
                                            });
                                        </script>
                                    </div>
                                
                            </form>

                            <div id="notfounded_device" style="display: none;">
                                <h4 style="text-align: center;">Dispositivo <p style="color: red;">NÃO CONFIGURADO</p>
                                </h4>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{%endblock%}