body {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    position: relative;

}

header {
    background-color: #292929;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-div {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, #ffffff, #333333);
    /* Cores do gradiente (vermelho para azul) */
    -webkit-background-clip: text;
    color: transparent;
    /* Torna o texto transparente para que o gradiente apareça através dele */
    display: inline-block;
    /* Para que o gradiente não se espalhe horizontalmente */
    padding: 20px;

}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    /* Espaçamento entre os itens do menu */
}

.nav-div {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.nav-div:hover {
    opacity: 20%;
    ;
    /* Cor do link quando o mouse passar por cima (vermelho) */
}